@import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.custom-quill-editor .ql-container {
  min-height: 200px;
}

/*Font*/

.playpen-sans-font {
  font-family: "Playpen Sans", cursive;
}

.handjet-font {
  font-family: "Handjet", sans-serif;
}

.jacques-francois-shadow-regular-font {
  font-family: "Jacques Francois Shadow", serif;
}

/* Hiệu ứng glow cho moon */
.moon-icon {
  transition: opacity 0.5s ease-in-out;
  filter: drop-shadow(0 0 10px #00bfff) drop-shadow(0 0 20px #00bfff);
}

/* Hiệu ứng glow cho sun */
.sun-icon {
  filter: drop-shadow(0 0 10px #ff6a00) drop-shadow(0 0 20px #ff6a00);
}

/* Hiệu ứng xuất hiện */
.fade-in {
  opacity: 1; /* Đặt opacity thành 1 khi hiện */
  transition: opacity 2s ease-in-out; /* Thời gian xuất hiện */
}

/* Hiệu ứng biến mất */
.fade-out {
  opacity: 0; /* Đặt opacity thành 0 khi ẩn */
  transition: opacity 2s ease-in-out; /* Thời gian biến mất */
}

@tailwind base;
@tailwind components;
@tailwind utilities;